/* Reset de base et font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

/* Conteneur et grille */
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
p {
  color: #555;
}

/* Bouton */
.btn {
  display: inline-block;
  background: #ff523b;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #563434;
}

/* Header background */
.header {
  background: radial-gradient(#fff, #ffd6d6);
}
.header .row {
  margin-top: 70px;
}

/* Media queries pour adaptation responsive */
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2 {
    flex-basis: 100%;
  }
}
